<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forgot Password | FinTrack</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Forgot Password</h2>

        <form action="/forgot-password" method="post">
            <label>Email</label>
            <input type="email" name="email" required class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Generate OTP</button>
        </form>

        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    </div>
</body>

</html>